:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* Style for d3 charts */
.chart-gauge {
  width: 200px;
  margin: 10px auto;
}

.chart-color1 {
  fill: #7659F5;
}

.chart-color2 {
  fill: #6dc775;
}

.chart-color3 {
  fill: #e7f56f;
}

.chart-color4 {
  fill: #ff8a80;
}

.needle,
.needle-center {
  fill: #464A4F;
}

.card-title{
  padding-top: 40px;
}
